// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$lilac: #BB86FC;
$light-gray: #F4F4F4;



$angular-black: #292929;
$white: #ffffff;

$angular-black-87: rgba($angular-black, 0.87);
$angular-black-60: rgba($angular-black, 0.60);
$angular-black-38: rgba($angular-black, 0.38);
$angular-black-13: rgba($angular-black, 0.13);
$angular-black-0: rgba($angular-black, 0);


$white-87: rgba($white, 0.87);
$white-60: rgba($white, 0.60);
$white-38: rgba($white, 0.38);
$white-13: rgba($white, 0.13);
$white-0: rgba($white, 0);

