.canvas {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.btn-circle {
  z-index: 2;
  background: transparent;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  box-shadow: none !important;
}

.btn-circle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  height: 40px;
  width: 40px;
  background: $primary;
  border-radius: 50%;
  z-index: -1;
}

.btn-circle i {
  padding-left: 5px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.btn-circle:hover i {
  padding-left: 10px;
}

.section-intro {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  margin-bottom: 100px;

  h1 {
    color: $angular-black-87;
    font-size: 60px;
    line-height: 110%;
  }

  h2 {
    color: $angular-black-87;
    line-height: normal;
    margin-bottom: 20px;
  }

  p {
    color: $angular-black-87;
    font-family: $font-monospace;
  }

  #future {
    color: #fff;
    background-color: $primary;
    padding: 0 15px;
    mix-blend-mode: multiply;
  }

  a {
    color: $angular-black-60;
  }
}

#feat-content {
  margin-top: 100px;

}

.intro-section.animate-now h1 {
  opacity: 1;
}

.intro-section.animate-now a {
  opacity: 1;
  visibility: visible;
}

.container-intro {
  margin-top: 100px;
  margin-right: 300px;
}

#what-up {
  font-size: 100px;
}

#sum-up {
  background-color: $primary;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#follow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#mouse_body {
  border-style: solid;
  border-width: 2px;
  border-color: $angular-black-13;
  border-radius: 32px;
  /* used just to add space from top */
  margin-top: 200px !important;
  /* size of the mouse body */
  height: 43px;
  width: 23px;
   /* to center in browser */
  margin: 0 auto;
  z-index: 100;
}

#mouse_wheel {
  border-style: solid;
  border-width: 2px;
  border-color: $angular-black-13;
  border-radius: 8px;
  background-color: $angular-black-13;
  /* position property required to play animation  */
  position: relative; 
  height: 3px;
  width: 3px;
  /* to center wheel in mouse body */
  margin: 0 auto; 
  animation: wheel_animation 1.5s linear infinite;
}

/* include use -moz-, -webkit-, or -o- for respective browser type*/
@keyframes wheel_animation { 
  0% {
    opacity: 0;
    top: 2px;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 33px;
  }
}

