

<nav id="onboard-pitch" aria-label="...">
    <div class="step1">
      <h5>What's a Pitch?</h5>
      <p>A Pitch is a simple way to introduce your idea to potential stakeholders.
      It includes 3 key elements. Click on the next step to find out more about them.</p>
    </div>
    <div class="step2 d-none">
      <h5>Pain</h5>
      <p>A pain is a specific problem or obstacle that your potential audience is experiencing with an app or service.
      It's considered a key factor when it comes to the development of a brand new product. 
      When defining your problem, always make sure it's urgent, detailed, scalable and frequent.</p>
    </div>
    <div class="step3 d-none">
      <h5>Target</h5>
      <p>Who is supposed to use your product? And how would you describe them?
      This is your audience. Your crowd. Your users. Bear in mind to know them fairly well.</p>
    </div>
    <div class="step4 d-none">
      <h5>Solution</h5>
      <p>If there's a wheel, there's a way - said Stephen Hawking. That's exactly what your solution should be about,
      finding a practical experiment to solve the problem you defined earlier while focusing on your target audience.
      A warning though: do not rush into this step. Otherwise, you will end up in SISP (Solution In Search of a Problem),
      which is highly inefficient for your product.<br>
      You are ready now. Please fill out the following form to create your pitch 💪</p>
    </div>
</nav>
