

<nav id="onboard-pitch" aria-label="...">
    <div class="step1">
      <h5>What is a Pitch?</h5>
      <p>A Pitch is a synthetic way to introduce your idea to potential stakeholders.
It contains 3 key elements.
Continue to discover them one by one.</p>
    </div>
    <div class="step2 d-none">
      <h5>Pain</h5>
      <p>A pain is a specific problem that your prospective customers are experiencing and which bothers them.
It is the initial trigger that makes people look for a product o service to solve their pain.
Try to focus on the problems that have these features:
- popular: lot of people have that problem, it is best to avoid problems perceived by a small number of people
- Growing: more and more people going to be having this problem
- Urgent: it needs to be solved very quickly
- Frequent: it is perceived very often</p>
    </div>
    <div class="step3 d-none">
      <h5>Target</h5>
      <p>Is the kind of people you want to turn to.
How would you describe the people who are perceiving the problem you want to solve?</p>
    </div>
    <div class="step4 d-none">
      <h5>Solution</h5>
      <p>The solution is the concrete experiment you are basically running to solve the problem of your target.

This is the last point, do not start from the solution.
Otherwise you will find yourself in the situation called SISP: Solution In Search of a Problem. It will be very difficult and inefficient to grow up like this.

Now you are ready. Fill out the following form and create your pitch 💪</p>
    </div>

  <ul class="pagination pagination-sm">
    <li class="page-item">
      <span class="page-link active" id="step1" href="#">Step 1</span>
    </li>
    <li class="page-item">
      <span class="page-link" id="step2" href="#">Step 2</span>
    </li>
    <li class="page-item">
      <span  class="page-link" id="step3" href="#">Step 3</span>
    </li>
    <li class="page-item">
      <span  class="page-link" id="step4" href="#">Step 4</span>
    </li>

  </ul>


</nav>


<style>
  .active {
    background-color: #a679dd;
    color: black;

  }

  #onboarding {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;

    position: fixed;
    top: 15px;
    left: 400px;
    right:15px;
    width: 40vw;
    height: 50vh;
  }
</style>
