<nav id="onboard" aria-label="...">
  <div class="step1 active">
    STEP 1
  </div>
  <div class="step2 d-none">
    STEP 2
  </div>
  <div class="step3 d-none">
    STEP 3
  </div>


  <ul class="pagination pagination-lg">
    <li class="page-item">
      <a class="page-link" id="back" href="#">Back</a>
    </li>
    <li class="page-item">
      <a class="page-link" id="next" href="#">Next</a>
    </li>

    <li class="page-item">
      <a class="page-link" id="next" href="#">Next</a>
    </li>

  </ul>


</nav>


