

<nav id="onboard-userjourney" aria-label="...">
    <div class="step1">
      <h5>What is a user journey?</h5>
      <p>Is a list of steps that your persona has to go through in order to complete a given task on your app (for example buy your product, leave a review, ...). These tasks are performed at different times.

You can create as many steps as you want, according to your service.
Creating a step is very simple, just fill in the 3 required fields.
Let's see them together:</p>
    </div>
    <div class="step2 d-none">
      <h5>Stand Point</h5>
      <p>Where exactly in your application is the user right now?
For example 'my user is on the home page'</p>
    </div>
    <div class="step3 d-none">
      <h5>View point</h5>
      <p>What exactly does your user see on your app right now?
For example, 'my user sees a list of restaurants registered on the platform'</p>
    </div>
    <div class="step4 d-none">
      <h5>Action Point</h5>
      <p>Is the elementary action that your user have to perform in order to achive the gol where he is.
For example: 'my user picks one of the restaurants on the home page'


Now you are ready to create your user journey. Remember that you can create as many steps as you want clicking on the '+'.

Have fun 💪</p>
    </div>

  <ul class="pagination pagination-sm">
    <li class="page-item">
      <span class="page-link active" id="step1" href="#">Step 1</span>
    </li>
    <li class="page-item">
      <span class="page-link" id="step2" href="#">Step 2</span>
    </li>
    <li class="page-item">
      <span  class="page-link" id="step3" href="#">Step 3</span>
    </li>
    <li class="page-item">
      <span  class="page-link" id="step4" href="#">Step 4</span>
    </li>

  </ul>


</nav>
