<nav id="onboard-userjourney" aria-label="...">
    <div class="step1">
      <h5>What's a user journey?</h5>
      <p>It's a list of steps that your persona has to go through in order to complete a given task on your app
      (i.e. buy a product, leave a review, etc).
      These tasks have a specific timeline to be performed.
      You can create as many steps as you want, according to your product.
      Creating a step is very simple, just fill in the 3 required fields.
      Let's check them out together:</p>
    </div>
    <div class="step2 d-none">
      <h5>Stand Point</h5>
      <p>Where exactly is the user in your app right now?
      (i.e. 'my user is on the home page')</p>
    </div>
    <div class="step3 d-none">
      <h5>View point</h5>
      <p>What exactly does the user see on your app right now?
      (i.e. 'my user sees a list of restaurants registered on the platform')</p>
    </div>
    <div class="step4 d-none">
      <h5>Action Point</h5>
      <p>This is the main action that your user has to perform to achive his goal.
      (i.e. 'my user picks one of the restaurants on the home page')<br>
      You are now ready to create your user journey. Remember that you can create as many steps as you want clicking on the '+'.<br>
      Have fun 💪</p>
    </div>
</nav>
