<%= render "modal-userjourney" %>

<%= render 'shared/side_menu' %>
<%= render 'shared/form_header' %>
<%= render 'form_journey' %>


<button type="button" id ="hidden-button" class="d-none btn btn-primary" data-toggle="modal" data-target="#onboarding">
  Launch demo modal
</button>
