<nav class="stepper" aria-label="breadcrumb">
  <div class="circle-marker">
    <% if controller_name == 'pitches' && action_name == 'new' || action_name == 'edit' %>
      <p>○</p>
    <% elsif controller_name == 'personas' && action_name == 'new' || action_name == 'edit' %>
      <p>○</p>
    <% elsif controller_name == 'userjourneys' && action_name == 'new' || action_name == 'edit' %>
      <p>○</p>
    <% elsif controller_name == 'userjourneys' && action_name == 'show' %>
      <p>○</p>
    <% end %>
  </div>
  <ol class="breadcrumb">
    <small><li class="breadcrumb-item" id="breadcrumb-1"><a href="#">Pitch</a></li></small>
    <small><li class="breadcrumb-item" id="breadcrumb-2"><a href="#">Persona</a></li></small>
    <small><li class="breadcrumb-item" id="breadcrumb-3"><a href="#">User Journey 🎉</a></li></small>
    <small><li class="breadcrumb-item" id="breadcrumb-4"><a href="#"><small>[BETA]</small> User Flow</a></li></small>
    <%# <small><li class="breadcrumb-item"><a href="#">Prototyping</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">Publish 🎉</a></li></small> %>
  </ol>
</nav>
