<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <small><li class="breadcrumb-item"><a href="#">Pitch</a></li></small>
    <small><li class="breadcrumb-item active"><a href="#">Persona</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">User Journey</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">User Flow</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">Prototyping</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">Publish</a></li></small>
  </ol>
</nav>
