<nav aria-label="breadcrumb">
  <div class="circle-marker">
    <% if controller_name == 'personas' && action_name == 'new' %>
      <p>2</p>
    <% elsif controller_name == 'pitches' && action_name == 'new' %>
      <p>1</p>
    <% elsif controller_name == 'pitches' && action_name == 'edit' %>
      <p>1</p>
    <% elsif controller_name == 'personas' && action_name == 'edit' %>
      <p>2</p>
    <% end %>
  </div>
  <ol class="breadcrumb">
    <small><li class="breadcrumb-item" id="breadcrumb-1"><%= link_to "Pitch", new_demo_pitch_path %></li></small>
    <small><li class="breadcrumb-item" id="breadcrumb-2"><%= link_to "Persona", new_demo_persona_path %></li></small>
    <small><li class="breadcrumb-item"><a href="#">User Journey</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">User Flow</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">Prototyping</a></li></small>
    <small><li class="breadcrumb-item"><a href="#">Publish 🎉</a></li></small>
  </ol>
</nav>
