<section class="section section-intro" id="home">
  <canvas id='canv' class="canvas" data-bgColor="#000"></canvas>
  <div class="container-intro">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="intro-section">
          <h1 id="text">Welcome to the future<br> of demo days</h1>
          <a href="#contact" class="btn btn-circle mt-5">Let's get started <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id="mouse_body">
    <div id="mouse_wheel"></div>
  </div>
</section>
<section class="section section-intro">
  <canvas id='canv' class="canvas" data-bgColor="#000"></canvas>
  <div class="container-intro">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="intro-section">
          <h1>Pitcher Main Features</h1>
          <h3 id="text">All in one App</h3>
          <p>Description</p>
          <h3 id="text">Onboarding Walkthrough</h3>
          <p>Description</p>
          <h3 id="text">Template Library</h3>
          <p>Description</p>
          <h3 id="text">User Journey to User Flow Automation <small>BETA</small></h3>
          <p>Description</p>
          <%= link_to "EXPLORE", dashboard_path, {:class=>'btn btn-primary back-btn', "data-controller": 'tooltip', "data-tippy-content": 'Give it a test run'} %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-intro">
  <canvas id='canv' class="canvas" data-bgColor="#000"></canvas>
  <div class="container-intro">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="intro-section">
          <h1>Pitcher What's next</h1>
        </div>
      </div>
    </div>
  </div>
</section>
