<section class="section section-intro" id="home">
  <canvas id='canv' class="canvas" data-bgColor="#fff"></canvas>
  <div class="container-intro">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="intro-section">
          <h1 id="text">Welcome to the future<br> of demo days</h1>
          <a href="#contact" class="btn btn-circle mt-5">Let's get started <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id="mouse_body">
    <div id="mouse_wheel"></div>
  </div>
</section>