<nav id="onboard-persona" aria-label="...">
    <div class="step1">
      <h5>What is a Persona?</h5>
      <p>A persona is a semi-fictional rapresentation of your ideal customer based on market research and real data about your existing customers.</p>
    </div>
    <div class="step2 d-none">
      <h5>Why use a Persona?</h5>
      <p>Personas provide structure and context for your project, making it easier to map out content, allocate your team's time and resources, and achieve alignment across your organization.</p>
    </div>
    <div class="step3 d-none">
      <h5>How should I use a Persona?</h5>
      <p>Learning about your ideal customer, theri challanges, their goals, their demographic traits, and so on, helps you set a strategy aimed at attracting the most valuable visitors, leads, and customers to your business.</p>
    </div>
    <div class="step4 d-none">
      <h5>How do I create a Persona?</h5>
      <p>Redy to put this definition into practice?
      Fill out the following form to access a detailed persona creation process</p>
    </div>
</nav>


<!-- <style>
  .active {
    background-color: #a679dd;
    color: black;

  }

  #onboarding {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;

    position: fixed;
    top: 15px;
    left: 400px;
    right:15px;
    width: 40vw;
    height: 50vh;
  }
</style> -->
