<nav id="onboard-pitch" aria-label="...">
    <div class="step1">
      <h5>What is a Persona?</h5>
      <p>A persona is a semi-fictional rapresentation of your ideal customer based on market research and real data about your existing customers.</p>
    </div>
    <div class="step2 d-none">
      <h5>Why use a Persona?</h5>
      <p>Personas provide structure and context for your project, making it easier to map out content, allocate your team's time and resources, and achieve alignment across your organization.</p>
    </div>
    <div class="step3 d-none">
      <h5>How should I use a Persona?</h5>
      <p>Learning about your ideal customer, theri challanges, their goals, their demographic traits, and so on, helps you set a strategy aimed at attracting the most valuable visitors, leads, and customers to your business.</p>
    </div>
    <div class="step4 d-none">
      <h5>How do I create a Persona?</h5>
      <p>Redy to put this definition into practice?
Fill out the following form to access a detailed persona creation process</p>
    </div>

  <ul class="pagination pagination-sm">
    <li class="page-item">
      <span class="page-link active" id="step1" href="#">Step 1</span>
    </li>
    <li class="page-item">
      <span class="page-link" id="step2" href="#">Step 2</span>
    </li>
    <li class="page-item">
      <span  class="page-link" id="step3" href="#">Step 3</span>
    </li>
    <li class="page-item">
      <span  class="page-link" id="step4" href="#">Step 4</span>
    </li>

  </ul>


</nav>


<style>
  .active {
    background-color: green;
  }

  #onboarding {
    height: 80px
    width: 140px
  }
</style>
