.alert-info {
  position: absolute;
  bottom: 0px;
  width: 500px;
  right: 20px;
  z-index: 99;
}

.alert-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  background-color: $white-87;
  color: $angular-black;
  border-color: $white-60;
  max-width: 300px;
  min-height: 300px;
}



.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
