.avatar-wrapper {
  display: flex;
  align-items: center;


  .avatar {
    cursor: pointer;
    margin: 4px;
  }

  &:hover {
    .avatar-circle, .avatar-square {
      background-color: $primary-87;
    }

    .avatar-triangle {
      border-bottom: 24px solid $primary-87;
    }
  }

  .avatar-square {
  width: 22px;
  height: 22px;
  border-radius: 0px;
  background-color: $white-87;
  transition: background-color .2s ease-in;
}

  .avatar-circle {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: $white-87;
    transition: background-color .2s ease-in;
  }

  .avatar-triangle {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 24px solid $white-87;
    transition: border-bottom .2s ease-in;
  }
}
body {
  &.demos {
    .avatar-wrapper {
      .avatar-triangle {
        border-bottom: 24px solid $angular-black-87;
      }

      .avatar-square, .avatar-circle {
        background-color: $angular-black-87;
      }

      &:hover {
        .avatar-circle, .avatar-square {
          background-color: $primary-87;
        }

        .avatar-triangle {
          border-bottom: 24px solid $primary-87;
        }
      }
    }
  }
}

// .avatar {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   object-fit: cover;
//   cursor: pointer;
// }

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 22px;
  height: 22px;
  border-radius: 0px;
  background-color: $white-87;
  // box-shadow: 0 1px 2px $white-87;
  &:hover {
    background-color: $primary-87;
  }
}

.avatar-circle {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-color: $white-87;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  &:hover {
    background-color: $primary-87;
  }
}

.avatar-triangle {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 24px solid $white-87;
  transition: border-bottom .2s ease-in;

  &:hover {
    border-bottom: 24px solid $primary-87;
  }
}

.avatar-egg {
  display: block;
  width: 126px;
  height: 180px;
  background-color: $angular-black;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
