.badge-lvl-one {
  background-color: lightgray;
  color: black;
}

.badge-lvl-two {
  background-color: lightgray;
  color: black;
}

.badge-lvl-three {
  background-color: lightgray;
  color: white;
}

.badge-pill {
  padding-left: 1em;
  padding-right: 1em;
}
