body {
  background-color: $angular-black;
  color: $white-87;

  .logo {
    font-family: $font-display;
    font-style: 1.5rem;
    letter-spacing: 0.025rem;
  }

  .container {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &.pitches, &.personas, &.userjourneys {
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-monospace;
      font-weight: 100;
    }

    .logo {
      color: $white-87;
    }
  }


  &.demos {
    background-color: $white;
    color: $angular-black-87;

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-display;
    }


    .logo {
      color: $angular-black-87;
    }
  }
}


.inactive {
  color: $angular-black-13;
  pointer-events: none;
  &:hover {
    color: $angular-black-13;
  }
}

// .loaded {
//   opacity: 1;
//   -webkit-transition: all 0.3s ease-in;
//           transition: all 0.3s ease-in;
// }
