body {
  background-color: $angular-black;
  color: $white-87;

  .logo {
    font-family: $font-display;
    font-style: 1.5rem;
    letter-spacing: 0.025rem;
  }

  .container {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  &.dashboard {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  &.home {
    .container {
      margin: 0;
      padding: 0;
      max-width: 100vw;
    }
  }

  &.pitches, &.personas, &.userjourneys {
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-monospace;
      font-weight: 100;
    }

    .logo {
      color: $white-87;
    }
  }

  // &.home {
  //   h1 {
  //     font-family: $font-monospace;
  //   }
  // }

  &.demos {
    background-color: #CC9B65
    //#CDEAEE
    //#C19D44
    //#CC9B65
;
    color: $angular-black-87;

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-display;
    }


    .logo {
      color: $angular-black-87;
    }
  }
}


.inactive {
  color: $angular-black-13;
  pointer-events: none;
  &:hover {
    color: $angular-black-13;
  }
}


// .loaded {
//   opacity: 1;
//   -webkit-transition: all 0.3s ease-in;
//           transition: all 0.3s ease-in;
// }
