
.simple_form {
  .form-inputs {
    .form-group {

      label {
        color: $white-38;
        font-size: 0.75rem;
      }
      .form-control {
        padding: 1rem 2rem;
        background-color: $white-87;
      }

      input, textarea {
        border-radius: 50px;
      }
    }
  }
  .form-actions {
    justify-content: space-between;
  }
}


input#demo_name {
  border-radius: 0;
}
