
.simple_form {
  .form-control {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $white-87;
  }
  .form-inputs {
    .form-group {
      label {
        color: $white-38;
        font-size: 0.75rem;
      }
      .form-control {
        padding: 1rem 2rem;
        background-color: transparent !important;
        border: 0;
        border-bottom: 1px solid $white-87;
      }

      input, textarea {
        color: $white-60;
        border-radius: 0px;
      }

    }
  }
  .form-actions {
    justify-content: space-between;
  }
}


input#demo_name {
  border-radius: 0;
}
