
.navbar {
  justify-content: space-between;
  background-color: $angular-black-87;
  color: $white-87;

  &.demos {
    background-color: $white;
    color: $angular-black;
  }


  &.pages {
    background-color: $white;
    color: $angular-black;
  }

  &.pitches, &.personas, &.userjourneys {
    a#nav-link {
      color: $white-87;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

/* The progress container (grey background) */
.progress-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  background: $white-38;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2px;
  background: $primary;
  width: 0%;
}


#greetings {
  font-family: $font-monospace;
  font-size: 0.90em;
}
