.breadcrumb {
  width: 100%;
  background-color: $angular-black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.breadcrumb-item +.breadcrumb-item::before {
  content: "";
}

.breadcrumb-item {
  opacity: 0.6;

  &.active {
    opacity: 1;
    font-weight: 600;
    background-color: transparent;
  }
  a:hover {
    text-decoration: none;
    opacity: 1;
    transition: all 0.3s ease-in;
  }

}


.circle-marker {
  height: 30px;
  width: 30px;
  background-color: $primary;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2px;
  z-index: 100;

  p {
    color: $gray;
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 11px;
  }
}

nav.stepper {
  position: sticky;
  bottom: 0;
  ol.breadcrumb {
    small {
      font-family: $font-monospace;
      text-transform: uppercase;
      li {
        a {
          color: $white-60;
          &:hover {
            color: $white-87;
          }
        }
      }
    }
  }
}


.circle-marker::before {
  content: "";
  background-color: $primary;
  height: 25px;
  width: 25px;
  clip-path: polygon(75% 0, 25% 0, 50% 50%);;
  position: absolute;
  left: 3px;
  bottom: -20px;
  z-index: 5;
}
