.breadcrumb {
  width: 100%;
  background-color: $angular-black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.breadcrumb-item +.breadcrumb-item::before {
  content: "";
}

.breadcrumb-item {
  opacity: 0.6;
}

.breadcrumb-item a:hover {
  text-decoration: none;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.breadcrumb-item.active {
  opacity: 1;
  font-weight: 600;
}
