
.steps-container {
  display: flex;
  font-family: $font-monospace;

  overflow: scroll;

  .step {

    display: flex;
    align-items: center;

    .standpoint {
      position: relative;
      width: auto;

      .backdrop-component {
        img {
          height: 70vh;
        }
      }

      .component-container {
        position: absolute;
        top: 20%;
        padding: 1rem;

        .grids-component {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 2px;

          .grid-item {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
            vertical-align: bottom;

            img {
              max-width: 100%;
              max-height: 100%;

              &:hover {
                transform: scale(1.02);
                cursor: pointer;
              }
            }
          }
        }

        .notifications-component {
          display: flex;
          justify-content: center;

          position: relative;

          .backdrop {
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          .notifications-container {
            position: absolute;
            top: 25%;

            .notification-item {

              margin-top: 0.5rem;
              margin-bottom: 0.5rem;

              &.button:hover {
                transform: scale(1.02);
                cursor: pointer;
              }

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }

        .listings-component {

          .listings-container {

            .listing-item {

              margin-top: 0.5rem;
              margin-bottom: 0.5rem;

              &.button:hover {
                transform: scale(1.02);
                cursor: pointer;
              }

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }

        .payments-component {

          .payments-container {

            .payment-item {

              margin-top: 0.25rem;
              margin-bottom: 0.25rem;

              &.button:hover {
                transform: scale(1.02);
                cursor: pointer;
              }

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }

            .payment-wrapper {
              display: flex;
            }
          }
        }
      }
    }

    .actionpoint {
      font-size: .875rem;
      color: $white-38;
      padding: 1rem
    }
  }
}


